body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > *,
body > * > * > * > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before,
body > * > * > * > *::before,
body > * > * > * > * > *::before,
body > * > * > * > * > * > *::before {
  content: attr(class);
  position: absolute;

  font-weight: bold;
  font-size: 10px;
  line-height: 1;
  font-family: "Courier New", monotype;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  outline: 6px solid rgba(0, 128, 0, 0.6);
}

body > *::before {
  top: 0;
  left: 0;

  color: white;

  background: green;
}

/*body > *::after {
  position: absolute;
  width: inherit;
  height: inherit;
}*/

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  outline: 4px solid rgba(255, 45, 82, 0.6);
}

body > * > *::before {
  top: 0;
  right: 0;

  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(71, 157, 236, 0.2);
  outline: 2px solid rgba(71, 157, 236, 0.6);
}

body > * > * > *::before {
  right: 0;
  bottom: 0;

  color: white;

  background: blue;
}

body > * > * > * > * {
  background: rgba(189, 0, 255, 0.2);
  outline: 1px solid rgba(189, 0, 255, 0.6);
}

body > * > * > * > *::before {
  bottom: 0;
  left: 0;

  color: white;

  background: purple;
}

body > * > * > * > * > * {
  background: rgba(255, 168, 0, 0.2);
  outline: 1px solid rgba(255, 168, 0, 0.6);
}

body > * > * > * > * > *::before {
  bottom: 0;
  left: 0;

  color: white;

  background: orange;
}

body > * > * > * > * > * > * {
  background: rgba(0, 232, 255, 0.2);
  outline: 1px solid rgba(0, 232, 255, 0.6);
}

body > * > * > * > * > * > *::before {
  bottom: 0;
  left: 0;

  color: white;

  background: rgb(0, 232, 255);
}

/*.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}*/
